NEXT_PUBLIC_REOWN_PROJECT_ID=d3d589c09ef32b5b3273da42abb75d5e
NEXT_PUBLIC_GENLAYER_RPC_URL=https://studio.genlayer.com/api
NEXT_PUBLIC_GENLAYER_CHAIN_ID=61999
NEXT_PUBLIC_GENLAYER_CHAIN_NAME=GenLayer Studio
NEXT_PUBLIC_GENLAYER_SYMBOL=GEN
NEXT_PUBLIC_CONTRACT_ADDRESS=0x6B3321b0d92E614abC11dA7D241a8918879DcEe1
NEXT_PUBLIC_API_BASE_URL=https://origin-trace-backend-starlit-sound-5755.fly.dev
